alert-login.css

/* Estilos personalizados para SweetAlert2 */
.custom-swal {
    font-size: 10px; /* Ajusta el tamaño del texto del mensaje */
}

.custom-swal .swal2-title {
    font-size: 15px; /* Ajusta el tamaño del título */
}

.custom-swal .swal2-content {
    font-size: 10px; /* Ajusta el tamaño del contenido */
}

.custom-swal .swal2-confirm, .custom-swal .swal2-cancel {
    padding: 10px 20px; /* Ajusta el tamaño de los botones */
}
