body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    background-color: transparent;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #050505;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin: 10px 0 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

.signup-prompt {
    margin-top: 15px;
    font-size: 0.9em;
    color: #000000;
}

.create-account-link {
    color: #3498db;
    text-decoration: underline;
    cursor: pointer;
}

.create-account-link:hover {
    color: #2980b9;
}


.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px;
}

.password-container i {
    position: absolute;
    color: #047bd6;
    right: 10px;
    top: 50%;
    transform: translateY(-90%);
}