{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
<div class="row">
    <div class="col-md-12">
    <h3 class= "text-center"> Ventas   <i class="far fa-money-bill-alt"></i>
        <div class="col-md-3 pb-2">
            <a href="{% url 'AddVenta' %}">
                <button type="button" class="btn btn-success">
                    Agregar Venta
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
    </h3>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            </div>
            <div class="card card-body" style="overflow:scroll">
                <table class="table table-hover table-primary" id="myTable">
                    <thead>
                        <tr>
                            <th># ID</th>
                            <th>Fecha</th>
                            <th>Cantidad</th>
                            <th>Cliente</th>
                            <th>Total GTQ</th>
                            <th>¿Pagado?</th>
                            <th>Comentarios</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for i in ventas %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.id}}</td>
                            <td>{{i.fecha_pedido}}</td>
                            <td>{{i.cliente}}</td>
                            <td>{{i.total}}</td>
                            <td>{{i.pagado}}</td>
                            <td>{{i.comentarios}}</td>

                                <button onclick="EstadoProducto('{{ i.codigo }}', '{{ i.estado }}')" 
                                    class="btn btn-outline-{% if i.estado == 'activo' %}danger{% else %}success{% endif %} btn-sm" 
                                    title="Activar/Desactivar">
                                    <i class="fas fa-power-off"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}